@import url(./__item/cards__item.css);
@import url(./__image/cards__image.css);
@import url(./__title/cards__title.css);
@import url(./__description/cards__description.css);

.cards {
    width: 920px;
    margin: 0 auto 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}