.header__square-pic {
    background-color: #2F80ED;
    height: 568px;
    width: 568px;
    position: absolute;
    top: 64px;
    right: 0;
    z-index: 0;
    transform: rotate(-15deg);
    animation: rotation 20s backwards linear infinite;
}