/* Пятая секция kaufman */ 
.kaufman {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1F1F1F ;
    z-index: 0;
}