@import url(./__iframes/video__iframes.css);
@import url(./__iframe/video__iframe.css);

/* спринт 2 секция  video */
.video {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: -60px;
}