/* первая секция header */
.header {
    background-color: #F2F2F2;
    display: flex;
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    overflow: hidden;
    /* выше установили ограничения для секции */
}