.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    box-sizing: content-box;
    padding-top: 30px;
}

.two-columns__paragraph:first-child {
    padding: 0px;
}