.header__subtitle {
    width: 388px;
    line-height: 25px;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color:  #000000;
    position: absolute;
    left: 64px;
    bottom: 30px;
    z-index: 3;
}
