@import url(./__title/feinman__title.css);
@import url(./__subtitle/feinman__subtitle.css);
@import url(./__link/feinman__link.css);
@import url(./__image/feinman__image.css);

/* Четвертая секция Фейнмана */
.feinman {
    height: 790px;
    position: relative;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}