.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* первая секция header */
.header {
    background-color: #F2F2F2;
    display: flex;
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    overflow: hidden;
    /* выше установили ограничения для секции */
}

.logo {
    min-height: 32px;
    min-width: 183px;
}

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    background: url(../images/logo.svg);
    z-index: 3;
}

.header__title {
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    color: #000000;
    margin: auto 64px auto;
    align-self: center;
    z-index: 3;
}

.header__subtitle {
    width: 388px;
    line-height: 25px;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color:  #000000;
    position: absolute;
    left: 64px;
    bottom: 30px;
    z-index: 3;
}

.header__link {
    text-decoration: none;
    color:#2F80ED;
}

.header__main-illustration {
    height: 608px;
    width: 765px;
    object-fit: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.header__square-pic {
    background-color: #2F80ED;
    height: 568px;
    width: 568px;
    position: absolute;
    top: 64px;
    right: 0;
    z-index: 0;
}

/* вторая секция description */

.description {
    display: flex;
    align-content: center;
    justify-content: center;
}

.two-columns { 
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px auto;
}

.two-columns__brief {
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2F80ED;
    margin: 0px;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
    list-style: none;
    margin: 0;
}

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    box-sizing: content-box;
    padding-top: 30px;
}

.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}

/* Третья секция digits */

.digits {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section-title {
    width: 60%;
    margin: 0;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
}

.section-subtitle {
    width: 60%;
    margin: 0;
    margin-top: 20px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    align-items: center;
}

.table {
    width: 1100px;
    margin: 0 auto 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.table__cell {
    margin-top: 60px;
    width: 250px;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 20px 0 0;
}

/* Четвертая секция Фейнмана */

.feinman {
    height: 790px;
    position: relative;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

.feinman__title {
    width: 648px;
    margin: 0;
    margin-top: 100px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    align-items: center;
    z-index: 2;
}

.feinman__subtitle {
    text-align: center;
    align-items: center;
    margin-top: 70px;
    z-index: 2;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #000000;
}

.feinman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    text-decoration: none;
    color: black;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}

.feinman__image {
    height: 637px;
    width: 867px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    object-fit: cover;
}

/* Пятая секция kaufman */ 

.kaufman {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1F1F1F ;
    z-index: 0;
}

.section-title_theme_dark {
    color: white;
    margin-top: 90px;
    z-index: 2;
}

.section-subtitle_theme_dark {
    color: white;
    margin-top: 20px;
    z-index: 2;
}

.table_theme_dark {
    color: white;
    margin: 0 auto 90px;
    z-index: 2;
}

/* элемент с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
    z-index: 2;
}

.kaufman__triangle {
    height: 877px;
    width: 877px;
    position: absolute;
    top: 0;
    right: -210px;
    z-index: 1;
    background-size: contain;
}

/* элемент footer */

.footer {
    min-height: 350px;
    display: flex;
    background-color: #1F1F1F ;
    color: white;
}

.footer__columns {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 60px auto 40px;
}

/* блок copyright */

.footer__column_content_copyright {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 711px;
}

.logo_place_footer {
    background: url(../images/logo_white.svg);
    z-index: 3;
    margin: 0;
}

.footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin: 18px 0;
}

/* блок info */

.footer__column_content_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    margin: 0;    
}

.footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    text-decoration: none;
    color: white;
}

.footer__column-links {
    margin-top: 20px;
    margin-bottom: 16px;
    list-style: none;
    padding: 0;
}

/* блок social */

.footer__column_content_social {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
}

.footer__social-icon {
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

.footer__list-item {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    text-decoration: none;
    color: white;
 }

 li:first-child {
    padding: 0px;
}
















