.khan__buy-link {
    margin-top: 68px;
    text-decoration: none;
    color:#2F80ED;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
}

.khan__buy-link:hover {
    opacity: 0.5;
    transition: opacity 1s linear;
}